{% extends 'base.html' %}

{% block content %}
  <h1>{{ person.username }}님의 프로필</h1>
  <hr>

  {% if person.profile_img %}
    <img src="{{ person.profile_img.url }}" alt="프로필 사진" style="width:200px; height:200px; object-fit: cover; border-radius: 50%; margin-bottom:3rem;">
  {% endif %}
  
  <p>아이디: {{ person.username }}</p>
  <p>이메일: {{ person.email }}</p>
  <p>이름: {{ person.last_name }}{{ person.first_name }}</p>
  <p>성별: {{ person.get_gender_display }}</p>
  <p>나이: {{ person.age }}</p>
  <p>주간 평균 독서 시간: {{ person.weekly_avg_reading_time }}시간</p>
  <p>연간 독서량: {{ person.annual_reading_amount }}권</p>
  <p>관심 장르: 
    {% for category in person.interested_genres.all %}
      <li>{{ category.name }}</li>
    {% empty %}
      없음
    {% endfor %}
  </p>
  <hr>
  <div id="followInfo" class="d-flex flex-row justify-content-between align-items-center">
    <div class="me-auto">
      <p>팔로워 : <span id="followers-count">{{person.followers.count}}</span></p>
      <p>팔로잉 : <span id="followings-count">{{person.followings.count}}</span></p>
    </div>
    {% if person != user %}
    <div class="ms-auto">
      <form id='followForm'>
        {% csrf_token %}
        {% if request.user in person.followers.all %}
          <input id="followBtn" class="btn btn-outline-danger" type="submit" value="언팔로우">
        {% else %}
          <input id="followBtn" class="btn btn-outline-success" type="submit" value="팔로우">
        {% endif %}
      </form>
    </div>
    {% endif %}
  </div>
  <hr>
  <h2>{{ person.username }}님의 쓰레드 목록</h2>
  <ul>
    {% for thread in person.thread_set.all %}
      <li>
        <a href="{% url 'books:thread_detail' thread.book.pk thread.pk %}">
          {{ thread.title }}
        </a>
        - 좋아요: {{ thread.likes.count }}
      </li>
    {% empty %}
      <li>작성된 쓰레드가 없습니다.</li>
    {% endfor %}
  </ul>
  <script>
    const followForm = document.querySelector("#followForm")
    // csrf토큰 정보를 가져옴
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    const followings = document.querySelector('#followings-count')
    const followers = document.querySelector('#followers-count')
    const followBtn = document.querySelector('#followBtn')

    const followFormCall = event => {
      event.preventDefault()
      axios({
        url : '{% url "accounts:follow" person.pk %}', 
        method: 'POST', // POST로 보낸다
        headers: {'X-CSRFToken': csrftoken} // csrf토큰 설정 (django csrf공식문서 참고)
      })
      .then(function (response) {
        const followCount = response.data.follower_count
        followers.textContent = followCount

        const isFollow = response.data.is_follow
        followBtn.value = isFollow? '언팔로우':'팔로우'
        followBtn.setAttribute('class', isFollow? 'btn btn-outline-danger': 'btn btn-outline-success')
      })
      .catch(function (error) {
        console.log(error);
      });
    }
    followForm.addEventListener('submit', followFormCall)

  </script>

{% endblock content %}
